.discord-session-w {
    display: flex;
    justify-content: center;
}

.discord-session {
    margin: 0;
    text-align: center;
}

.discord-session-refresh {
    font-size: .75rem;
}

.discord-login-link {
    text-decoration: none;
    font-size: .75rem;
}