.discord-display-wrapper {
    display: flex;
    justify-content: center;
}

.discord-display {
    max-width: 15rem;
    margin: auto;
    padding: 2rem;
    background-color: rgb(54, 57, 63);
    color: hsla(0,0%,100%,.7);
    border-radius: 3rem;
    font-size: 1.2rem;
    text-align: center;
}

.discord-display a:visited {
    color: hsla(0,0%,100%,.7);
}

.discord-display img {
    border-radius: 100%;
    margin-bottom: .5rem;
}